
::before, ::after {

  box-sizing: border-box;

}
::placeholder {

  color: #eceae6;
  -moz-transition: color .4s;
  transition: color .4s;

}
element {

}
body {

  font-size: 16px;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  font-family: "LL Circular Pro Book Web","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.4;

}
body {
  line-height: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
  vertical-align: baseline;

}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  font-family: "LL Circular Pro Book Web","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.soh-header {
  border-bottom: .1rem solid #eceae6;
  width: 100%;
}

.header-top {
  height: 100px;
  padding: 0;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  position: relative;
}

.header-logo{
  font-size: 4rem;
  padding: 0rem;
  width: auto;
  float: left;
  height: 100px;
  margin: 0;
  align-items: center;
  display: flex;
}

.header-logo a {
  display: block;
  height: 41px;
  width: 195px;
}

.header-search {
  border-left: 1px solid #eceae6;
  border-left: .1rem solid #eceae6;
  border-right: 1px solid #eceae6;
  border-right: .1rem solid #eceae6;
  padding: 38px 30px 30px 30px;
  padding: 3.8rem 3rem 3rem 3rem;
  float: left;
  height: 100px;
  transform: translateY(0);
  width: auto;
}

.search-container ::placeholder {
  color: #9a9a9a;
  font-size: 1.8rem;
}

.search-container :placeholder-shown {
  color: #9a9a9a;
  font-size: 1.8rem;
}

.search-container input {
  width: 18rem;
  line-height: normal;
}

.search-container input {
  padding-bottom: 10px;
  padding-bottom: 1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;
  float: left;
  outline: 0;
  width: calc(100% - 4.6rem - 3rem);
}

.search-container button {
  padding-right: 0;
  margin-left: 0;
  background-color: #fff;
  border: 0;
  float: left;
  width: 4.6rem;
}

.header-menu{
  padding: 0 1rem;
  float: left;
  font-family: "LL Circular Pro Bold Web",Arial,Helvetica,sans-serif;
  height: 100px;
  overflow: hidden;
  padding-right: 2.5rem;
  border-top: 0;
  clear: none;
  width: 650px;
  padding-left: 2.5rem;
}

.header-menu ul {
  justify-content: space-evenly;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.header-menu ul li {
  margin: 0;
  padding: 0 4px 0 0;
  text-align: left;
}

.header-menu ul li a{
  color: #000;
  font-family: "LL Circular Pro Bold Web",Arial,Helvetica,sans-serif;
  text-decoration: none;
  padding-top: 40px;
  display: flex;
  height: 100%;
}

a {
  background-color: transparent;
}

.header-top .header-icon{
  padding: 2rem 0;
  position: relative;
  display: block;
  text-align: center;
  border-left: .1rem solid #eceae6;
  float: left;
  height: 100%;
  width: 95px;
}

.header-login {
  display: block;
  text-decoration: none;
  color: #9a9a9a;
  font-size: 1.4rem;
  padding-top: .6rem;
}

.hero{
  height: 720px;
  width: 100%;
  background-color: #000;
}

.hero-container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 180px;
}

.hero h1{
  color: white;
  font-size: 16rem;
  font-family: "LL Circular Pro Black Web",Arial,Helvetica,sans-serif;
  line-height: 1em;
  font-weight: 600;
}

.hero p{
  color: white;
  font-family: "LL Circular Pro Black Web",Arial,Helvetica,sans-serif;
  line-height: 2em;
  font-weight: 600;
}

.information{
  height: 340px;
  background-color: #eceae6;
}

.information-container{
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
  padding: 2rem;
}

.information-container h1{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 3.5rem;
  display: block;
  font-family: "LL Circular Pro Black Web",Arial,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

.information-container p{
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.7;
  margin: 2.7rem 0;
}
.btn{
  border-radius: 0;
  cursor: pointer;
}

.btn-secondary {

  border: .2rem solid #000;
  font-size: 1.6rem;
  letter-spacing: .25rem;
  margin: 2rem 0 0;
  padding: 1.5rem 4rem;
  font-family: "LL Circular Pro Bold Web",Arial,Helvetica,sans-serif;
  line-height: 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.news{
  width: 100%;
  height: 435px;
  background-color: #fff;
}

.news .news-container{
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
  display: flex;
}

.news .news-container .left-container{
  padding-left: 1rem;
  padding-right: 1rem;
  width: 41%;
  margin-top: 110px;
}

.news .news-container .right-container{
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
  margin-top: 110px;
}

.news .news-container .right-container ul li{
  line-height: 2;
}

.black-information{
  height: 250px;
  background-color: black;
}

.proud-home{
  background-color: white;
  height: 450px;
}

.white-information{
  background-color: white;
  border-top: 1px solid gray;
}
.row1{
  display: flex;
}

.row1 .item{
  padding: 2rem;
  min-width: 14%;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 33%;
}

.row1 .item img{
  margin: 0 auto;
  display: block;
  height: auto;
}

.row2{
  display: flex;
}

.row2 .item{
  padding: 2rem;
  min-width: 14%;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 33%;
}

.row2 .item img{
  margin: 0 auto;
  display: block;
  height: auto;
}

.footer{
  background-color: #eceae6;
  height: 185px;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-container{
  max-width: 1440px;
  margin: 0 auto;
}

.column1{
  float: left;
  width: 16%;
  padding-left: 2rem;
  padding-top: 4rem;
}

.column2{
  float: left;
  width: 55%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
}

.column3{
  float: right;
  width: 16%;
  padding-top: 5rem;
  padding-right: 4rem;
  text-align: center;
  padding-left: 4rem;
}

.column1 ul {
  display: block;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.column1 ul li {
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 5rem;
  padding: 0;
}

.column2 ul {
  display: block;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.column2 ul li {
  display: inline-block;
  padding: 0 2.5rem 0rem 2.5rem;
  text-align: center;
  height: 5rem;
  font-weight: 600;
}

.column3 ul {
  padding-top: 2rem;
  list-style-type: none;
}

.column3 ul li a {
  color: #646565;
  font-size: 1.4rem;
  font-weight: 600;
}

.col.column2 ul li a{
  color: black;
  text-decoration: none;
}
